<label for="location-search">Search by location</label>
<input id="location-search" #search placeholder="Ex: chicago">
<button type="button" (click)="seechHousingLocations(search.value)">Search</button>

<!-- remember, here we're saying essentially for each location in locationList,
and that locationList we have access to becuase it was passed in from app.html
and this component recieved it in the input var thing from this ones .ts and 
finally location objects are essentially defined in the housing-location.ts
and instantiated in the app.ts-->
<!-- this is also called template syntatx -->
<article *ngFor="let location of results">
    <img [src]="location.photo" 
    [alt]="'An image for the apartment named ' + location?.name + ', in ' + location?.state" 
    [title]="'An image for the apartment named ' + location?.name + ', in ' + location?.state">
    <p>{{location.name}}</p>
    <p>{{location.city}}, {{location.state}}</p>
    <button (click)="selectHousingLocation(location)">View</button>
</article>